<div id="form-input-text">
    <mat-form-field class="full-width" appearance="outline"
        [ngClass]="inputField.errors && formError ? 'mat-form-field-invalid': '' ">
        
        <mat-label>{{ label }}</mat-label>

        <ng-container>
            <input matInput [maxlength]="maxLength" [formControl]="inputField" [type]="type"
                (ngModelChange)="selectedChangeValue($event);">
        </ng-container>

        <span *ngIf="inputField.touched && inputField.errors">Campo inválido!</span>

        <span *ngIf="!inputField.touched && formError">Campo inválido!</span>

    </mat-form-field>
</div>