@import '../../../../theme/styles-template';

#form-input-text {
    font-size: 1em;
    margin-bottom: 10px;

    .full-width {
        width: 100%;

        span {
            color: var(--redColor);
            font-size: 0.8em;
        }
    }
}