<div id="login">

    <div class="container">

        <div class="title"> Login </div>

        <div class="form">
            <app-form-input label="Email"                            
                            [form]="formLogin"
                            [nameControl]="'email'"
                            [formError]="isformError">
            </app-form-input>

            <app-form-input label="Senha"                            
                            [form]="formLogin"
                            [nameControl]="'password'"
                            [formError]="isformError"
                            [type]="'password'">
            </app-form-input>

        </div>

        <div class="button" (click)="onSubmit()">
            Entrar
        </div>

        <div class="register">
            <div> Não possui conta? </div>
            <div routerLink="/auth/register"> CADASTRE-SE </div>
        </div>

    </div>

</div>