<div id="register">

    <div class="container">

        <div class="title"> Cadastro </div>

        <div class="form">
            <app-form-input label="Nome"                   
                            [form]="formRegister"
                            [nameControl]="'firstname'"
                            [formError]="isformError">
            </app-form-input>

            <app-form-input label="Sobrenome"                            
                            [form]="formRegister"
                            [nameControl]="'lastname'"
                            [formError]="isformError">
            </app-form-input>
        </div>

        <div class="form">
            <app-form-input label="Email"                            
                            [form]="formRegister"
                            [nameControl]="'email'"
                            [formError]="isformError">
            </app-form-input>
        </div>

        <div class="form">
            <app-form-input label="Estado"                            
                            [form]="formRegister"
                            [nameControl]="'state'"
                            [formError]="isformError">
            </app-form-input>

            <app-form-input label="Cidade"                            
                            [form]="formRegister"
                            [nameControl]="'city'"
                            [formError]="isformError">
            </app-form-input>
        </div>

        <div class="form">
            <app-form-input label="Endrereço"                            
                            [form]="formRegister"
                            [nameControl]="'address'"
                            [formError]="isformError">
            </app-form-input>
        </div>

        <div class="form">
            <app-form-input label="Telefone"                            
                            [form]="formRegister"
                            [nameControl]="'phone'"
                            [formError]="isformError"
                            [mask]="'(00) 0000-0000'">
            </app-form-input>
            <app-form-input label="Celular"                            
                            [form]="formRegister"
                            [nameControl]="'mobilephone'"
                            [formError]="isformError"
                            [mask]="'(00) 0000-0000'">
            </app-form-input>
        </div>

        <div class="form">
            <app-form-input label="Senha"                            
                            [form]="formRegister"
                            [nameControl]="'password'"
                            [formError]="isformError"
                            [type]="'password'">
            </app-form-input>

            <app-form-input label="Confirmar senha"                            
                            [form]="formRegister"
                            [nameControl]="'confirmPassword'"
                            [formError]="isformError"
                            [type]="'password'">
            </app-form-input>
        </div>

        <div class="button" (click)="onSubmit()">
            Cadastrar
        </div>

        <div class="register">
            <div> Já possui cadastro? </div>
            <div routerLink="/auth/login"> ENTRE </div>
        </div>

    </div>

</div>